*{
    font-family: 'roboto',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #3CB371;
}

.content{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: #fff;
}

@media screen and (min-width:992px) {
    .content{
        max-width:992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.indice{
    color: gray;
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;    
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: .852rem;
    justify-content: space-around;
}

.descritivo{
    padding: 0;
    margin: 0;
    height: 400px;
    background-color: #fff;
    border-radius: 1rem;
}

.derivados{
    list-style: none;
}

.derivado{
    color: gray;
    font-size: .850rem
}
.breeding{
    list-style: none;
    color: gray;
}

.bree{
    padding: 0 1rem;
    margin: 1rem;
    font-size: 1rem
}

.tpBreeding{
    font-size: .850rem
}

.pokemons{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    list-style: none;
    padding: 0;


}

.pokemon{
    display: flex;
    flex-direction: column ;
    margin: .5rem;
    padding: 1rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon .types{
    padding: 0;
    margin: 0;
    width: min-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.pokemon .type{
    margin: 1rem;
    background-color: #8FBC8F;
    border-radius: 1rem;
    color: #fff;
    padding: .25rem .5rem;   
    font-size: .825rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-size: 2rem;
}

.pokemon .number{
    text-align: right;
    font-size: 1rem;
    color:#fff
}

.pokemon img{
    max-width: 100%;
    height: 250px;
    margin: 2rem;

}